<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349028882075-7h6j4gurm9rrutkn9icvpaot89um8t9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349028882075-7h6j4gurm9rrutkn9icvpaot89um8t9f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>349028882075-cr7fkivrq6sn6r54mv397479bsp3g8bn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3TnpA52JKk4HCxGDX1Vns0n0OQPTeo6g</string>
	<key>GCM_SENDER_ID</key>
	<string>349028882075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.biociencias.client</string>
	<key>PROJECT_ID</key>
	<string>ceebi-client</string>
	<key>STORAGE_BUCKET</key>
	<string>ceebi-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349028882075:ios:09a20bf855ce21faa2d83e</string>
</dict>
</plist>